/*VARIAVEIS DE STYLE*/
:root{
    --vermelho: #E50914;
    --preta: #141414;
}
/*RESET CSS GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ELEMENTOS BASE*/
/* Estilo do corpo do projeto*/
body{
    background-color: var(--preta);
    font-family: 'Arial','Times New Roman', Times, serif;
    color: white;
}
/* Cabeçalho (HEADER)*/
header .container{
    display: flex;
    flex-direction: row; /*posiciona os elementos em linha*/
    align-items: center;/*alinha os elementos ao centro*/
    justify-content: space-between;/*dar espaco entre os elemntos*/
}
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

/*COISAS DO FILME PRINCIPAL*/
/*Conteudo principal(MAIN)*/
.filme-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 16px;

    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('/img/banner.jpg');
    height: 400px;
    background-size: cover;
}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}
.title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}
.botao i{
    margin-right: 8px;
}
.botao:hover{
    background-color: white;
    color: black;
}
.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}
